{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'static/css/homepage.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

{% load category_template_tags %}
{% load slide_template_tags %}
{% block content %}

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">

				{% slides %}

			</div>
		</div>
	</section>
	<section class="newproduct bgwhite p-t-45 p-b-105">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					Cele mai vandute
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">

					{% for item in object_list %}
					
					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-label{{item.get_label_display}}">
								<a href="{{item.get_absolute_url}}">
								<img src="{{ item.image.url }}" alt="IMG-PRODUCT" 
								style="height: 370px; width:100%; "></a>
							</div>
							

							<div class="block2-txt p-t-20">
								<a href="{{item.get_absolute_url}}" class="block2-name dis-block s-text3 p-b-5" style="color: black;">
									{{ item.title }}
								</a>

								{% if item.discount_price %}
								<span class="block2-oldprice m-text7 p-r-5" style="color: black;">
									{{ item.price }} RON
								</span>

								<span class="block2-newprice m-text8 p-r-5">
									{{ item.discount_price }} RON
								</span>
								{% else %}
								<span class="block2-price m-text6 p-r-5" style="color: black;">
									{{ item.price }} RON
								</span>
								{% endif %}
								

								
							</div>
							
						</div>
					</div>
				
					{% endfor %}

					
				
				</div>
			</div>

		</div>
	</section>
	<section class="banner bgwhite p-t-105 p-b-40">
		<div class="container">
			<div class="container">
				<div class="sec-title p-b-60">
					<h3 class="m-text5 t-center">
						Categorii
					</h3>
				</div>
				<div class="row">
					<div class="carousel-item">
						<img src="{% categories_div %}">
						<div class="carousel-caption d-none d-md-block">
						</div>
 					</div>
				</div>	
			</div>
		</div>
	</section>
	<section class="marimi-covoare bg5 p-t-55 p-b-55">
		<h4 class="marimi-covoare-titlu">Marimi Covoare</h4>
		<div class="">
			<div class="row">
				<div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="col-md-4">
								<div class="card">
									<img src="https://ae05.alicdn.com/kf/H9eefbe977a3c49d39a544e2303ce6923w/Small-Carpet-Living-Room-Floor-Mat-Fluffy-Soft-Bedroom-Decorative-Grey-Nordic-Fur-White-Tufted-Rectangle.png" alt="IMG-BANNER" class="ban_img">
			
									<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
										<br><br><br><br><br>
										<br><br><br><br><br>
										<span class="m-text9 p-t-45 fs-20-sm" style="color: black;">
											Covoare Mici
										</span>
										<br>
										<div class="wrap-btn-slide2 w-size1 animated" data-appear="slideInUp">
											<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2  trans-0-4" style="background-color: black; color:white;">
												Exploreaza
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="carousel-item">
							<div class="col-md-4">
								<div class="card">
									<img src="https://cdn.shopify.com/s/files/1/0531/1830/4417/products/studio_637277b66be486414421668449734.jpg?v=1671178737"  alt="IMG-BANNER" class="ban_img">
	
									<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
										<br><br><br><br><br>
										<br><br><br><br><br>
										<span class="m-text9 p-t-45 fs-20-sm">
											Covoare Medii
										</span>
										<br>
											<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
									
											<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
												Exploreaza
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="carousel-item">
							<div class="col-md-4">
								<div class="card">
									<img src="https://armedacarpet.ro/wp-content/uploads/2022/03/GARDEN-C05-GREY-POZA-700x700.jpg" alt="IMG-BANNER" class="ban_img">
	
									<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
										<br><br><br><br><br>
										<br><br><br><br><br>
										<span class="m-text9 p-t-45 fs-20-sm">
											Covoare Mari
										</span>
										<br>
										<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
											<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
												Exploreaza
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="carousel-item">
							<div class="col-md-4">
								<div class="card">
									<img src="https://ae05.alicdn.com/kf/H948cf0854808462bb88730028f0bd0fdS/Geometric-Round-Carpet-Living-Room-Home-Bedroom-Round-Rug-Nordic-Thick-Floor-Rug-Sofa-Coffee-Table.jpg"  alt="IMG-BANNER" class="ban_img">
			
									<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
										<br><br><br><br><br>
										<br><br><br><br><br>
										<span class="m-text9 p-t-45 fs-20-sm" style="color: black;">
											Covoare Rotunde
										</span>
										<br>
										<div class="wrap-btn-slide2 w-size1 animated" data-appear="slideInUp">
											<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2  trans-0-4" style="background-color: black; color:white;">
												Exploreaza
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="carousel-item">
							<div class="col-md-4">
								<div class="card">
									<img src="https://cdn.shopify.com/s/files/1/0306/9794/7272/products/kawaiies-plushies-plush-softtoy-long-fluffy-kawaii-bedroom-rugs-new-home-decor-panda-60x180cm-302686.jpg?v=1621443488"  alt="IMG-BANNER" class="ban_img">
			
									<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
										<br><br><br><br><br>
										<br><br><br><br><br>
										<span class="m-text9 p-t-45 fs-20-sm" style="color: black;">
											Covoare Lungi
										</span>
										<br>
										<div class="wrap-btn-slide2 w-size1 animated" data-appear="slideInUp">
											<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2  trans-0-4" style="background-color: black; color:white;">
												Exploreaza
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					</a>
					<a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- ------------------Banner3  end ------------------------>

	<!-- ------------------Banner5  start ------------------------>

	<section class="banner2 bg5 p-t-55 p-b-55">

	</section>

	<script>	
		let items = document.querySelectorAll('.carousel .carousel-item')

			items.forEach((el) => {
				const minPerSlide = 4
				let next = el.nextElementSibling
				for (var i=1; i<minPerSlide; i++) {
					if (!next) {
				// wrap carousel by using first child
				next = items[0]
			}
			let cloneChild = next.cloneNode(true)
			el.appendChild(cloneChild.children[0])
			next = next.nextElementSibling
		}
		})

		var myCarousel = document.querySelector('#carouselExampleIndicators')
		var carousel = new bootstrap.Carousel(carouselExampleIndicators, {
			interval: 2000,
			wrap: false
		})
	</script>

	{% endblock content %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>


	